<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Squiierrel</title>
        <link rel="stylesheet" href="/app/assets/stylesheets/style.css" />
        <link rel="stylesheet" href="/app/assets/stylesheets/app.css" />
    </head>
    <body>
        <h1>Squiierrel</h1>
        <h2>Donnez de la puissance à vos stages !</h2>
        <% if user_signed_in? %>
        <li class="logout">
            <%= link_to('Déconnexion', destroy_user_session_path, :method => :delete, class: "logoutlink") %>
        </li>

        <div class="row">
            <div class="col-l-1 col-l-push-1 col-m-1 col-s-2">
                Entreprise
            </div>
            <div class="col-l-1 col-l-push-1 col-m-2 col-s-4 col-s-push-1">
                Titre
            </div>
            <div class="col-l-2 col-l-push-1 col-m-4 col-m-push-1 l-show m-show s-hidden">
                Description
            </div>
            <div class="col-l-1 col-l-push-1 col-m-1 col-m-push-2 col-s-2 col-s-push-1">
                Durée
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                Date de début
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                Etat
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                Crée le
            </div>
            <div class="col-l-1 col-l-push-1 col-m-push-2 col-m-1 col-s-2 col-s-push-1">
                Type
            </div>
        </div>
            <div class="row">
            <% Annonce.all.each do |anonce| %>
            <div class="col-l-1  col-l-push-1 col-m-1 col-s-2">
                <%= anonce.entreprise %>
            </div>
            <div class="col-l-1 col-l-push-1 col-m-2 col-s-4 col-s-push-1">
                <%= anonce.titre %>
            </div>
            <div class="col-l-2 col-l-push-1 col-m-4 col-m-push-1 l-show m-show s-hidden">
                <%= anonce.description %>
            </div>
            <div class="col-l-1 col-l-push-1 col-m-1 col-m-push-2 col-s-2 col-s-push-1">
                <%= anonce.duree %>
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                <%= anonce.datedebut %>
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                <%= anonce.etat %>
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                <%= anonce.created_at %>
            </div>
            <div class="col-l-1 col-l-push-1 col-m-push-2 col-m-1 col-s-2 col-s-push-1">
                <%= anonce.genre %>
            </div>
            <% end %>
            </div>
        <% end %>
    </body>
</html>
