<div class="login">

    <div class="h2bis" ><h2>Mot de passe oublié ?</h2></div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email",class: "inputbis"  %>
  </div>

  <div class="actions">
      <%= f.submit "Valider",class: "btn btn-primary btn-block btn-large" %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>
