<!-- Début de l'affichage des annonces !-->
<br>
<div class="uk-grid">
    <div class="uk-width-1-3 ">
        <h3>Trier par type :</h3>
        <ul class="uk-subnav uk-subnav-line uk-subnav-pill">
            <%if @entreprise == nil%>

            <%if @type == "stage"%>
            <li>
                <%= link_to "Tout", :action => "index", :etat => @etat %>
            </li>
            <li class="uk-active">
                <%= link_to "Stage", :action => "index", :type => "stage", :etat => @etat %>
            </li>
            <li>
                <%= link_to "Alternance", :action => "index", :type => "alternance", :etat => @etat %>
            </li>
            <%elsif @type == "alternance"%>
            <li>
                <%= link_to "Tout", :action => "index", :etat => @etat %>
            </li>
            <li>
                <%= link_to "Stage", :action => "index", :type => "stage", :etat => @etat %>
            </li>
            <li class="uk-active">
                <%= link_to "Alternance", :action => "index", :type => "alternance", :etat => @etat %>
            </li>
            <%else%>
            <li class="uk-active">
                <%= link_to "Tout", :action => "index", :etat => @etat %>
            </li>
            <li>
                <%= link_to "Stage", :action => "index", :type => "stage", :etat => @etat %>
            </li>
            <li>
                <%= link_to "Alternance", :action => "index", :type => "alternance", :etat => @etat %>
            </li>
            <%end%>

            <%else%>
            <%if @type == "stage"%>
            <li>
                <%= link_to "Tout", :action => "index", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <li class="uk-active">
                <%= link_to "Stage", :action => "index", :type => "stage", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <li>
                <%= link_to "Alternance", :action => "index", :type => "alternance", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <%elsif @type == "alternance"%>
            <li>
                <%= link_to "Tout", :action => "index", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <li>
                <%= link_to "Stage", :action => "index", :type => "stage", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <li class="uk-active">
                <%= link_to "Alternance", :action => "index", :type => "alternance", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <%else%>
            <li class="uk-active">
                <%= link_to "Tout", :action => "index", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <li>
                <%= link_to "Stage", :action => "index", :type => "stage", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <li>
                <%= link_to "Alternance", :action => "index", :type => "alternance", :etat => @etat, :entreprise => @entreprise %>
            </li>
            <%end%>
            <%end%>
        </ul>
    </div>
    <div class="uk-width-1-3">
        <h3>Etat :</h3>
        <ul class="uk-subnav uk-subnav-line uk-subnav-pill">
            <%if @entreprise == nil%>

            <%if @etat == "true"%>
            <li>
                <%= link_to "Tout", :action => "index", :type => @type %>
            </li>
            <li class="uk-active">
                <%= link_to "Disponible", :action => "index", :etat => "true", :type => @type %>
            </li>
            <li>
                <%= link_to "Pourvu", :action => "index", :etat => "false", :type => @type %>
            </li>
            <%elsif @etat == "false"%>
            <li>
                <%= link_to "Tout", :action => "index", :type => @type %>
            </li>
            <li>
                <%= link_to "Disponible", :action => "index", :etat => "true", :type => @type %>
            </li>
            <li class="uk-active">
                <%= link_to "Pourvu", :action => "index", :etat => "false", :type => @type %>
            </li>
            <%else%>
            <li class="uk-active">
                <%= link_to "Tout", :action => "index" %>
            </li>
            <li>
                <%= link_to "Disponible", :action => "index", :etat => "true", :type => @type %>
            </li>
            <li>
                <%= link_to "Pourvu", :action => "index", :etat => "false", :type => @type %>
            </li>
            <%end%>

            <%else%>

            <%if @etat == "true"%>
            <li>
                <%= link_to "Tout", :action => "index", :type => @type, :entreprise => @entreprise %>
            </li>
            <li class="uk-active">
                <%= link_to "Disponible", :action => "index", :etat => "true", :type => @type, :entreprise => @entreprise %>
            </li>
            <li>
                <%= link_to "Pourvu", :action => "index", :etat => "false", :type => @type, :entreprise => @entreprise %>
            </li>
            <%elsif @etat == "false"%>
            <li>
                <%= link_to "Tout", :action => "index", :type => @type, :entreprise => @entreprise %>
            </li>
            <li>
                <%= link_to "Disponible", :action => "index", :etat => "true", :type => @type, :entreprise => @entreprise %>
            </li>
            <li class="uk-active">
                <%= link_to "Pourvu", :action => "index", :etat => "false", :type => @type, :entreprise => @entreprise %>
            </li>
            <%else%>
            <li class="uk-active">
                <%= link_to "Tout", :action => "index", :entreprise => @entreprise %>
            </li>
            <li>
                <%= link_to "Disponible", :action => "index", :etat => "true", :type => @type, :entreprise => @entreprise %>
            </li>
            <li>
                <%= link_to "Pourvu", :action => "index", :etat => "false", :type => @type, :entreprise => @entreprise %>
            </li>
            <%end%>
            <%end%>
        </ul>
    </div>
</div>

<div class="uk-grid uk-container-center uk-width-1-1">
    <div class="uk-panel uk-panel-box uk-width-1-1 uk-container-center uk-padding-none">
        <table class="uk-table uk-table-hover uk-table-striped backwhite">
            <thead>
                <tr class="uk-text-primary uk-table-middle">
                    <th>Entreprise</th>
                    <th>Titre</th>
                    <th class="uk-hidden-small uk-hidden-medium">Description</th>
                    <th>Durée</th>
                    <th class="uk-hidden-small uk-hidden-medium" >Date de début</th>
                    <th class="uk-hidden-small" >Etat</th>
                    <th  class="uk-hidden-small uk-hidden-medium" >Crée le</th>
                    <th>Type</th>
                    <th>Ouvrir</th>
                    <%if admin?%>
                    <th class="uk-hidden-small">
                       Supprimer
                    </th>
                    <th class="uk-hidden-small">
                        Editer
                    </th>
                    <%end%>
                </tr>
            </thead>
            <tbody>
                <% for annonce in @annonces %>
                <tr class="uk-table-middle">
                    <td>
                        <%= link_to :action => "index", :entreprise => annonce.entreprise , :type => @type, :etat => @etat  do %>
                        <%= truncate(annonce.entreprise,length: 25) %>
                        <%end%>
                    </td>
                    <td><%= annonce.titre %></td>
                    <td class="uk-hidden-small uk-hidden-medium">
                        <%=truncate(annonce.description,length: 25)  %>
                    </td>
                    <td><%= annonce.duree %></td>
                    <td class="uk-hidden-small uk-hidden-medium">
                        <%= annonce.datedebut %>
                    </td>
                    <td class="uk-hidden-small">
                        <% if annonce.etat? %>
                        Disponible
                        <%else%>
                        Pourvue
                        <%end%>
                    </td>
                    <td class="uk-hidden-small uk-hidden-medium uk-hidden-medium">
                        <%= annonce.created_at.to_date %>
                    </td>
                    <td class="uk-hidden-large uk-hidden-medium">
                        <%= truncate(annonce.genre,length: 13) %>
                    </td>
                    <td class="uk-hidden-small">
                        <%= annonce.genre %>
                    </td>
                    <td>
                        <%= link_to 'Ouvrir', show_annonce_path(annonce), class: "uk-button" %>
                    </td>
                    <%if admin?%>
                    <td class="uk-hidden-small" >
                        <%= link_to 'Supprimer'.html_safe, annonce_path(annonce), :method => :delete, "data-confirm" => 'Etes vous sûr ?', class: "uk-button"%>
                    </td>
                    <td class="uk-hidden-small">
                        <%= link_to 'Editer'.html_safe, edit_annonce_path(annonce), class: "uk-button" %>
                    </td>
                    <%end%>
                </tr>
                <tr class="uk-text-primary uk-table-middle uk-hidden-large uk-hidden-medium" >
                    <%if admin?%>
                    <td>
                        <%= link_to 'Supprimer'.html_safe, annonce_path(annonce), :method => :delete, "data-confirm" => 'Etes vous sûr ?', class: "uk-button"%>
                    </td>
                    <td>
                        <%= link_to 'Editer'.html_safe, edit_annonce_path(annonce), class: "uk-button" %>
                    </td>
                    <%end%>
                </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>

<%if admin?%>
<p><%= link_to '<i class="fa fa-plus fa-fw fa-inverse"></i>&nbsp;Nouvelle annonce'.html_safe, new_annonce_path, class: "uk-button uk-button-primary" %></p>
<%end%>
<%if admin?%>
<%if @annoncesinvalides.blank?%>
<%else%>
<h2>Annonces non validées</h2>
<div class="uk-grid uk-container-center uk-width-1-1">
    <div class="uk-panel uk-panel-box uk-width-1-1 uk-container-center uk-padding-none">
        <table class="uk-table uk-table-hover uk-table-striped backwhite">
            <thead>
                <tr class="uk-text-primary uk-table-middle">
                    <th>Entreprise</th>
                    <th>Titre</th>
                    <th class="uk-hidden-small uk-hidden-medium">Description</th>
                    <th>Durée</th>
                    <th class="uk-hidden-small uk-hidden-medium" >Date de début</th>
                    <th class="uk-hidden-small" >Etat</th>
                    <th  class="uk-hidden-small uk-hidden-medium" >Crée le</th>
                    <th>Type</th>
                    <th>Ouvrir</th>
                    <%if admin?%>
                    <th class="uk-hidden-small">
                        <i class="fa fa-minus fa-fw"></i>
                        &nbsp;Supprimer
                    </th>
                    <th class="uk-hidden-small">
                        <i class="fa fa-pencil fa-fw"></i>
                        &nbsp;Editer
                    </th>
                    <%end%>
                </tr>
            </thead>
            <tbody>
                <% for annonceinvalide in @annoncesinvalides %>
                <tr class="uk-table-middle">
                    <td><%= annonceinvalide.entreprise %></td>
                    <td><%= annonceinvalide.titre %></td>
                    <td class="uk-hidden-small uk-hidden-medium">
                        <%=truncate(annonceinvalide.description,length: 25)  %>
                    </td>
                    <td><%= annonceinvalide.duree %></td>
                    <td class="uk-hidden-small uk-hidden-medium">
                        <%= annonceinvalide.datedebut %>
                    </td>
                    <td class="uk-hidden-small">
                        <% if annonceinvalide.etat? %>
                        Disponible
                        <%else%>
                        Pourvue
                        <%end%>
                    </td>
                    <td class="uk-hidden-small uk-hidden-medium uk-hidden-medium">
                        <%= annonceinvalide.created_at.to_date %>
                    </td>
                    <td><%= annonceinvalide.genre %></td>
                    <td>
                        <%= link_to 'Ouvrir', show_annonce_path(annonceinvalide), class: "uk-button" %>
                    </td>
                    <%if admin?%>
                    <td class="uk-hidden-small" >
                        <%= link_to '<i class="fa fa-minus fa-fw"></i>&nbsp;Supprimer'.html_safe, annonce_path(annonceinvalide), :method => :delete, :confirm => 'Etes vous sûr ?', class: "uk-button"%>
                    </td>
                    <td class="uk-hidden-small">
                        <%= link_to '<i class="fa fa-pencil fa-fw"></i>&nbsp;Editer'.html_safe, edit_annonce_path(annonceinvalide), class: "uk-button" %>
                    </td>
                    <%end%>
                </tr>
                <tr class="uk-text-primary uk-table-middle uk-hidden-large uk-hidden-medium" >
                    <%if admin?%>
                    <td>
                        <%= link_to '<i class="fa fa-minus fa-fw"></i>&nbsp;Supprimer'.html_safe, annonce_path(annonceinvalide), :method => :delete, :confirm => 'Etes vous sûr ?', class: "uk-button"%>
                    </td>
                    <td>
                        <%= link_to '<i class="fa fa-pencil fa-fw"></i>&nbsp;Editer'.html_safe, edit_annonce_path(annonceinvalide), class: "uk-button" %>
                    </td>
                    <%end%>
                </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>
<%end%>
<%end%>
<!-- Fin de l'affichage des annonces !-->
