 <!-- Début de l'affichage des annonces !-->
        <div class="row">
            <div class="col-l-1 col-l-push-1 col-m-1 col-s-2">
                Entreprise
            </div>
            <div class="col-l-1 col-l-push-1 col-m-2 col-s-4 col-s-push-1">
                Titre
            </div>
            <div class="col-l-2 col-l-push-1 col-m-4 col-m-push-1 l-show m-show s-hidden">
                Description
            </div>
            <div class="col-l-1 col-l-push-1 col-m-1 col-m-push-2 col-s-2 col-s-push-1">
                Durée
            </div>
            <div class="col-l-2 col-l-push-1 l-show m-hidden s-hidden">
                Date de début
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                Etat
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                Crée le
            </div>
            <div class="col-l-1 col-l-push-1 col-m-1 col-m-push-2 col-s-2 col-s-push-1">
                Type
            </div>
        </div>
        <% for annonce in @annonces %>
        <div class="row">
            <div class="col-l-1  col-l-push-1 col-m-1 col-s-2">
                <%= annonce.entreprise %>
            </div>
            <div class="col-l-1 col-l-push-1 col-m-2 col-s-4 col-s-push-1">
                <%= annonce.titre %>
            </div>
            <div class="col-l-2 col-l-push-1 col-m-4 col-m-push-1 l-show m-show s-hidden">
                <%= annonce.description %>
            </div>
            <div class="col-l-1 col-l-push-1 col-m-1 col-m-push-2 col-s-2 col-s-push-1">
                <%= annonce.duree %>
            </div>
            <div class="col-l-2 col-l-push-1 l-show m-hidden s-hidden">
                <%= annonce.datedebut %>
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">

                <% if annonce.etat? %>
                disponible
                <%else%>
                pourvue
                <%end%>
            </div>
            <div class="col-l-1 col-l-push-1 l-show m-hidden s-hidden">
                <%= annonce.created_at.to_date %>
            </div>
            <div class="col-l-1 col-l-push-1 col-m-1 col-m-push-2 col-s-2 col-s-push-1">
                <%= annonce.genre %>
            </div>
            <div class="col-l-1 col-l-push-1 col-m-1 col-m-push-2 col-s-2 col-s-push-1">
                <%= link_to 'Voir', show_annonce_path(annonce), class: "link" %>
            </div>
        </div>
        <%if admin?%>
        <p>
            <%= link_to '<i class="fa fa-minus fa-fw fa-inverse"></i>Supprimmer'.html_safe, annonce_path(annonce), :method => :delete, :confirm => 'êtes vous sûr ?', class: "link"%>
        </p>
        <p>
            <%= link_to '<i class="fa fa-pencil fa-fw fa-inverse"></i>&nbsp;Editer'.html_safe, edit_annonce_path(annonce), class: "link" %>
        </p>
        <%end%>
        <% end %>
        <%if admin?%>
        <p><%= link_to '<i class="fa fa-plus fa-fw fa-inverse"></i>&nbsp;Nouvelle annonce'.html_safe, new_annonce_path, class: "link" %></p>
        <%end%>
        <!-- Fin de l'affichage des annonces !-->
