<!-- Début de l'affichage des annonces !-->
<br>
<h3>Trier par</h3>
<ul class="uk-subnav uk-subnav-line uk-subnav-pill">
    <li class="uk-active">
        <a href="">...</a>
    </li>
</ul>
<br>
<table class="uk-table uk-table-hover uk-table-striped">
    <thead>
        <tr class="uk-text-primary uk-table-middle">
            <th>Entreprise</th>
            <th>Titre</th>
            <th class="uk-hidden-small uk-hidden-medium">Description</th>
            <th>Durée</th>
            <th class="uk-hidden-small uk-hidden-medium" >Date de début</th>
            <th class="uk-hidden-small" >Etat</th>
            <th  class="uk-hidden-small uk-hidden-medium" >Crée le</th>
            <th>Type</th>
            <th>Ouvrir</th>
            <%if admin?%>
            <th class="uk-hidden-small">
                <i class="fa fa-minus fa-fw"></i>
                &nbsp;Supprimer
            </th>
            <th class="uk-hidden-small">
                <i class="fa fa-pencil fa-fw"></i>
                &nbsp;Editer
            </th>
            <%end%>
        </tr>
    </thead>
    <tbody>
        <% for annonce in @annonces %>
        <tr class="uk-table-middle">
            <td><%= annonce.entreprise %></td>
            <td><%= annonce.titre %></td>
            <td class="uk-hidden-small uk-hidden-medium">
                <%= annonce.description %>
            </td>
            <td><%= annonce.duree %></td>
            <td class="uk-hidden-small uk-hidden-medium">
                <%= annonce.datedebut %>
            </td>
            <td class="uk-hidden-small">
                <% if annonce.etat? %>
                Disponible
                <%else%>
                Pourvue
                <%end%>
            </td>
            <td class="uk-hidden-small uk-hidden-medium uk-hidden-medium">
                <%= annonce.created_at.to_date %>
            </td>
            <td><%= annonce.genre %></td>
            <td>
                <%= link_to 'Ouvrir', show_annonce_path(annonce), class: "uk-button" %>
            </td>
            <%if admin?%>
            <td class="uk-hidden-small" >
                <%= link_to '<i class="fa fa-minus fa-fw"></i>&nbsp;Supprimer'.html_safe, annonce_path(annonce), :method => :delete, :confirm => 'Etes vous sûr ?', class: "uk-button"%>
            </td>
            <td class="uk-hidden-small">
                <%= link_to '<i class="fa fa-pencil fa-fw"></i>&nbsp;Editer'.html_safe, edit_annonce_path(annonce), class: "uk-button" %>
            </td>
            <%end%>
        </tr>
        <tr class="uk-text-primary uk-table-middle uk-hidden-large uk-hidden-medium" >
        <%if admin?%>
            <td>
                <%= link_to '<i class="fa fa-minus fa-fw"></i>&nbsp;Supprimer'.html_safe, annonce_path(annonce), :method => :delete, :confirm => 'Etes vous sûr ?', class: "uk-button"%>
            </td>
            <td>
                <%= link_to '<i class="fa fa-pencil fa-fw"></i>&nbsp;Editer'.html_safe, edit_annonce_path(annonce), class: "uk-button" %>
            </td>
            <%end%>
        </tr>
        <%end%>
    </tbody>
</table>
<%if admin?%>
<p><%= link_to '<i class="fa fa-plus fa-fw fa-inverse"></i>&nbsp;Nouvelle annonce'.html_safe, new_annonce_path, class: "uk-button uk-button-primary" %></p>
<%end%>
<!-- Fin de l'affichage des annonces !-->
