<%if user_signed_in? %><!--Si l'utilisateur est connecté!-->

<% if admin? %><!-- Si lutilisateur est un admin !-->

<nav class="uk-navbar uk-container-center">
    <%= link_to 'Squiierrel', home_path, class: "uk-navbar-brand uk-hidden-small title" %>
    <ul class="uk-navbar-nav uk-hidden-small">
        <% if current_page?(home_path) %>
        <li class="uk-active">
            <%= link_to 'Annonces', home_path %>
        </li>
        <% else %>
        <li>
            <%= link_to 'Annonces', home_path %>
        </li>
        <%end%>

        <% if current_page?(users_index_path) %>
        <li class="uk-active">
            <%= link_to 'Utilisateurs', users_index_path %>
        </li>
        <% else %>
        <li>
            <%= link_to 'Utilisateurs', users_index_path %>
        </li>
        <%end%>
    </ul>
    <div class="uk-navbar-flip uk-hidden-small">
        <ul class="uk-navbar-nav uk-hidden-small">
            <li>
                <%= link_to('<i class="fa fa-power-off"></i>&nbsp;Déconnecter'.html_safe, destroy_user_session_path, :method => :delete, class:"logout", title:"Déconnecter") %>
            </li>
        </ul>
    </div>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Squiierrel</div>
</nav>

<%else%><!-- Si l'utilisateur est un élève !-->

<nav class="uk-navbar uk-container-center">
    <%= link_to 'Squiierrel', home_path, class: "uk-navbar-brand uk-hidden-small title" %>
    <ul class="uk-navbar-nav uk-hidden-small">
        <% if current_page?(home_path) %>
        <li class="uk-active">
            <%= link_to 'Annonces', home_path %>
        </li>
        <% else %>
        <li>
            <%= link_to 'Annonces', home_path %>
        </li>
        <%end%>

        <% if current_page?(edit_user_registration_path) %>
        <li class="uk-active">
            <%= link_to 'Mon Compte', edit_user_registration_path %>
        </li>
        <% else %>
        <li>
            <%= link_to 'Mon Compte', edit_user_registration_path %>
        </li>
        <%end%>

        <% if current_page?(new_annonce_path) %>
        <li class="uk-active">
            <%= link_to 'Proposer une annonce', new_annonce_path %>
        </li>
        <% else %>
        <li>
            <%= link_to 'Proposer une annonce', new_annonce_path %>
        </li>
        <%end%>
    </ul>
    <div class="uk-navbar-flip uk-hidden-small">
        <ul class="uk-navbar-nav uk-hidden-small">
            <li>
                <%= link_to('<i class="fa fa-power-off"></i>&nbsp;Déconnecter'.html_safe, destroy_user_session_path, :method => :delete, class:"logout", title:"Déconnecter") %>
            </li>
        </ul>
    </div>
    <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Squiierrel</div>
</nav>

<%end%>

<%else%><!--Si l'utilisateur n'est pas connecté!-->

<div class="h1bis"><h1>Squiierrel</h1></div>
<div class="h2bis"><h2>Donnez de la puissance à vos stages</h2></div>

<%end%>

