<div class="uk-grid">
    <div class="uk-width-2-3">
        <br />
        <h2>Changer l'annonce</h2>

        <%= form_for @annonce , html: { class:"uk-form" } do |f| %>
        <%= f.text_field :entreprise, placeholder: "Entreprise",class:"uk-width-1-4" %>
        <%= f.text_field :titre, placeholder: "Titre",class:"uk-width-2-4" %>
        <br />
        <br />
        <%= f.select(:genre) do %>
        <% [['Stage        ', "Stage"], ['Alternance     ', "Alternance"]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
        <% end %>
        <%= f.email_field :moyencontact, placeholder: "Email de contact",class:"uk-width-2-6"%>
        <br />
        <br />
        <%= f.label :Date_de_début,class:"uk-width-2-6" %>
        <br />
        <%= f.date_field :datedebut, placeholder: "Date de début",class:"uk-width-1-6" %>
        <%= f.text_field :duree, placeholder: "Durée",class:"uk-width-1-6" %>
        <br />
        <br />
        <%if admin?%>
        <div class="uk-grid">
            <div class="uk-width-1-2">
                <%= f.label :Valider%>
                <br />
                <%= f.check_box :validee %>
            </div>
            <br />
            <div class="uk-width-1-2">
                <%= f.label :Disponible%>
                <br />
                <%= f.check_box :etat %>
            </div>
        </div>
        <%end%>
        <br />
        <%= f.text_area :description, placeholder: "Description",:size => "89x10" %>
        <br />
        <div class="actions uk-text-contrast">
            <br />
            <%= f.submit "Enregistrer",class: "uk-button uk-button-primary uk-button-large" %>
            <% end %>
        </div>
    </div>
    <div class="uk-width-1-3">
        <br />
        <br />
        <br />
        <%= link_to "Retour", :back, class:"uk-button" %>
    </div>
</div>

