<br />
<div class="uk-grid">
    <div class="uk-width-1-2">
        <h1 class="uk-text-primary"><%= @annonce.titre%></h1>
    </div>
    <div class="uk-width-1-4">
        <%= link_to 'Retour', home_path, class: "uk-button" %>
    </div>
    <div class="uk-grid">
        <div class="uk-width-1-2">
            <br />
            <%= link_to :action => "index", :entreprise => @annonce.entreprise , :type => @type, :etat => @etat  do %>
            <%= @annonce.entreprise %>
            <%end%>
        </div>
        <div class="uk-width-1-2"></div>
        <div class="uk-width-1-4">
            Date de début : <%= @annonce.datedebut %>
        </div>
        <div class="uk-width-1-4">
            Durée : <%= @annonce.duree %>
        </div>
        <div class="uk-width-1-2"></div>

        <div class="uk-width-1-4">
        </div>
        <div class="uk-width-1-4">
            Type : <%= @annonce.genre %>
        </div>
        <div class="uk-width-1-2"></div>

        <br />
        <br />
        <div class="uk-panel uk-panel-box uk-width-1-2" style="margin-left:30px; height: 200px; width: 700px;">
            <p><%= @annonce.description %></p>
        </div>
        <br />
        <br />
        <div class="uk-width-1-4">
        <%= link_to "Répondre à l'annonce", {:controller => "annonces", :action => "send_rep_mails", :id => @annonce.id ,:user => current_user },{ :class => "uk-button reponse uk-button-success"} %>
        </div>
    </div>
</div>
