<!-- Header!-->
<%= render "annonces/header" %>
<!--Fin Header!-->

<h1>Utilisateurs</h1>

<%= link_to "Tous les utilisateurs", :action => "index" %>

<%= link_to "Utilisateurs non validés", :action => "index", :approved => "false" %>

<%if @users.nil?%>
<h2>Aucun utilisateur non validé !</h2>
<%else%>
<table>
    <%for user in @users%>
    <tr>
        <td><%=user.email%> </td>
        <td><%= user.approved%> </td>
        <td><%= link_to "Editer", admins_edit_user_path(user)%></td>
    </tr>
    <%end%>
</table>
<%end%>

<p><%= link_to "Ajouter un utilisateur", admins_new_user_path %></p>
