<h1>Utilisateurs</h1>
<ul class="uk-subnav uk-subnav-line uk-subnav-pill">
    <%if @all %>
    <li class="uk-active">
        <%= link_to "Tous les utilisateurs", :action => "index" %>
    </li>
    <%else%>
    <li>
        <%= link_to "Tous les utilisateurs", :action => "index" %>
    </li>
    <%end%>
    <%if @all %>
    <li>
        <%= link_to "Utilisateurs non validés", :action => "index", :approved => "false" %>
    </li>
    <%else%>
    <li class="uk-active">
        <%= link_to "Utilisateurs non validés", :action => "index", :approved => "false" %>
    </li>
    <%end%>
</ul>
<br>


<%if @users.blank?%>
<h2>Aucun utilisateur non validé !</h2>
<%else%>
<div class="uk-grid uk-container-center uk-width-1-1">
    <div class="uk-panel uk-panel-box uk-width-1-1 uk-container-center uk-padding-none">
        <table class="uk-table uk-table-hover uk-table-striped backwhite">
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Validé
                </th>
                <th>
                    Editer
                </th>
            </tr>
            <%for user in @users%>
            <tr>
                <td><%=user.email%> </td>
                <td><%= user.approved%> </td>
                <td><%= link_to "Editer", admins_edit_user_path(user)%></td>
            </tr>
            <%end%>
        </table>
    </div>
</div>
<%end%>

<p><%= link_to "Ajouter un utilisateur", admins_new_user_path, class:"uk-button uk-button-primary" %></p>
