<!-- Header!-->
<%= render "annonces/header" %>
<!--Fin Header!-->

<h2>Nouvel utilisateur</h2>

<%= form_for @user do |f| %>

<div class="login">
<%= f.text_field :nom, placeholder: "Nom" %>
<%= f.text_field :prenom, placeholder: "Prénom" %>
<%= f.email_field :email, placeholder: "Email" %>
<%= f.number_field :promo, placeholder: "Promotion" %>
<%= f.text_field :numtel, placeholder: "Numéro de Téléphone" %>
<%= f.text_field :role, placeholder: "Rôle" %>
<%= f.text_field :password, placeholder: "Mot de passe" %>

  <div class="actions ">
      <%= f.submit "Enregistrer",class: "btn btn-primary btn-block btn-large" %>
  </div>
</div>
<% end %>
