<!DOCTYPE html>
<html>
    <head>
        <title>Squiierrel</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'uikit.min', 'jquery', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= favicon_link_tag 'favicon.ico' %>
        <script src="//use.edgefonts.net/lobster-two.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="uk-container uk-container-center">
            <!-- Header!-->
            <%= render "annonces/header" %>
            <!--Fin Header!-->
            <%= yield %>
            <%if notice.present?%>
            <div class="notice uk-alert uk-alert-success wide uk-animation-fade uk-animation-reverse uk-animation-5">
                <%= notice %>
                <%= link_to ' ', class:"uk-close" do%>
                <%end%>
            </div>
            <%else%>
            <%end%>
            <%if alert.present?%>

            <div class="alert uk-alert uk-alert-danger wide uk-animation-fade uk-animation-reverse uk-animation-5">
                <%= alert %>
                <%= link_to ' ', class:"uk-close" do%>
                <%end%>
            </div>
            <%else%>
            <%end%>
            <!-- Offcanvas!-->
            <%= render "annonces/offcanvas" %>
            <!--Fin Offcanvas!-->
        </div>
    </body>
</html>
